/* hp banner with button and logo */
.hp-banner {
    min-height: 400px;
    margin: 0 auto;
  }
  .hp-banner > .full-screen-bg,
  .hp-banner > .fit-parent-bg {
    background-size: cover;
    background-position: center;
  }
  .hp-banner > .fit-parent-bg {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .hp-banner > .full-screen-bg {
    width: 100vw;
    max-width: 1920px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;
  }
  .hp-banner h2 {
    font-size: 27px;
    font-weight: 700;
  }
/* hp banner with button and logo */

/* hp two tiles with bg-img and text overlay */
.tiles.tiles-row-of-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .tiles-row-of-two .tile {
    background-size: cover;
      background-position: center;
      min-height: 300px;
  }
  
  @media (max-width: 576px) {
    .tiles.tiles-row-of-two {
      grid-template-columns: 1fr;
    }
  }
/* hp two tiles with bg-img and text overlay */

/* hp four tiles with bg-img and text overlay */
.tiles.tiles-row-of-four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  
  .tiles-row-of-four .tile {
    background-size: cover;
      background-position: center;
      min-height: 300px;
  }

  @media (max-width: 768px) {
    .tiles.tiles-row-of-four {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 576px) {
    .tiles.tiles-row-of-four {
      grid-template-columns: 1fr;
    }
  }
/* hp four tiles with bg-img and text overlay */


/* so the css file appears no matter what */
.footer-container {
    width: 100%;
}
/* so the css file appears no matter what */

/* hp-row-of-two */
.hp-cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
    row-gap: 50px;
}
.hp-cards .hp-card-img {
    width: 100%;
}
.hp-cards .hp-card-title {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.2px !important;
    line-height: 1 !important;
}
.hp-cards .hp-card-desc {
    font-size: 16px;
    font-weight: 500;
    color: #545454;
}

@media (min-width: 768px) {
    /* hp-row-of-two */
    .hp-cards {
        grid-template-columns: 1fr 1fr;
    }
    /* hp-row-of-two */
}
/* hp-row-of-two */

/* cta button */
.hp-cards-btn {
    padding: 15px 20px;
    min-width: 160px;
    max-width: 160px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    /* margin: 5px 10px; */
    transition: 0.5s !important;
    line-height: 1;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    /* margin: auto; */
}
.hp-cards-btn:hover {
    background-color: transparent !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    transition: 0.4s !important;
    text-decoration: none !important;
}
/* cta button */

/* hp-scrollbar-slider-shop-by-cat */
.section-for-carousel {
    overflow-x: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  .section-for-carousel > div {
    display: inline-flex;
    position: relative;
  }
  .custom-carousel-box {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    /* white-space: nowrap; */
    user-select: none;
    cursor: pointer;
    display: flex !important;
    
  }

  .custom-carousel-tile {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .custom-carousel-tile.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .custom-carousel-tile > div > .img-fluid {
      padding: 10px 5px 50px 5px;
  }

  .ho-featured-tiles-title {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
      
      /*border-radius: 5px;*/
      /* font-family: "Montserrat", sans-serif !important; */
      z-index: 5;
  }
  .ho-featured-tiles-title:hover {
      text-decoration: none;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }
  .h4-bts-title {
      font-weight: 600;
      text-transform: unset;
      font-size: 1rem;
      text-align: left;
      margin: 0 25px 10px 15px;
      line-height: 1.4rem;
  }
  .card-arrow-icon {
      float: right;
  }
  .fa-light.fa-chevron-right {
      font-size: 10px;
      margin-bottom: 12px;
  }

  .custom-carousel-tile a:hover .h4-bts-title > span {
      text-decoration: none;
  }
  .ho-featured-tiles-title:hover .h4-bts-title > span {
      text-decoration: none;
  }

  .custom-carousel-tile.shop-by-cat {
      max-width: 350px;
      width: 100%;
  }
  .shop-by-cat-title {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.3px;
      color: #000;
  }
  .h4-bts-title > span {
          text-decoration: unset;
  }
  .arrow-for-cards {
      font-weight: 500;
      font-size: 25px;
      position: absolute;
      right: 12px;
      bottom: 3px;
      color: #000;
  }

  /* manipulation with images */
  .clear-img-background {
      filter: brightness(1.1);
  }

  /* content slot specifics */
  .c-graphical-asset-group-header .homepage-shop a {
      text-decoration: none;
  }
  .c-graphical-asset-group-header .homepage-shop a:hover {
      text-decoration: none;
  }

  @media (max-width: 1240px) {
      .custom-carousel-tile {
          max-width: initial;
      }
  }
  @media (max-width: 1023px) {
      .section-for-carousel {
          margin-right: -20px !important;
      }
      .custom-carousel-tile.shop-by-cat {
          width: 175px;
      }
  }
 
  @media (max-width: 576px) {
      .section-for-carousel {
          margin-left: -20px !important;
      }
      .custom-carousel-box {
          padding-left: 15px;
      }
      .shop-by-cat-title {
          font-size: 0.8rem !important;
          margin-left: 10px;
          margin-bottom: 7px !important;
      }
      
  }
/* hp-scrollbar-slider-shop-by-cat */

/* SwiperJS style settings */
.wrapper-for-swiper {
    position: relative;
}
/* styles for nav arrows */
.wrapper-for-swiper .swiperjs-arrow-next {
    position: absolute;
    top: 37%;
    right: -30px;
    cursor: pointer;
}
.wrapper-for-swiper .swiperjs-arrow-prev {
    position: absolute;
    top: 37%;
    left: -30px;
    cursor: pointer;
}

.wrapper-for-swiper .swiperjs-arrow-next.swiper-button-disabled > .fa-angle-right,
.wrapper-for-swiper .swiperjs-arrow-prev.swiper-button-disabled > .fa-angle-left {
    color: #a6a6a6 !important;
}

/* styles for pagination */
.swiper-pagination {
    position: relative;
    bottom: 0 !important;
    margin-top: 15px;
}
/* styles for dots */
.mySwiper .swiper-pagination-bullet {
    border: 1px solid black !important;
    transition: opacity .2s ease;
    background: transparent !important;
}
.mySwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000 !important;
}

@media (max-width: 768px) {
    /* turn off the nav arrows */
    .wrapper-for-swiper .swiperjs-arrow-next,
    .wrapper-for-swiper .swiperjs-arrow-prev {
        display: none;
    }
}

@media (max-width: 576px) {
    .wrapper-for-swiper {
        margin-right: -20px;
        margin-left: -20px;
    }
    /* leaves the whitespace on the left */
    .mySwiper {
        padding-right: 10px !important;
    }
    .mySwiper .swiper-slide.first-slide {
      margin-left: 10px;
    }
}
/* SwiperJS style settings */


/* DOTD banner style settings */

    /* section */
    .dofd-section {
        box-shadow: 1px 0px 10px #dddddd;
        position: relative;
        margin-top: 40px !important;
        margin-bottom: 70px !important;
    }
    
    /* first part */
    .dofd-section > .dofd-clockdown {
        min-width: 360px;
        background: #000;
        color: #fff;
        justify-content: flex-end;
    }
    .deal-of-the-day-title {
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        color: #ffd200;
    }
    .deal-of-the-day-title > span {
        color: #ffffff;
    }
    .dofd-clockdown > div > .clockdown > div:nth-child(1) {
        flex-basis: 50%;
        border-right: 1px solid;
    }
    .dofd-clockdown > div > .clockdown > div:nth-child(2) {
        flex-basis: 50%;
        padding-left: 15px;
    }
    .clockdown > div > p:nth-child(1) {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }
    .clockdown > div > p:nth-child(2) {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        
    }
    
    .date-field {
        background: #ffd200;
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        max-height: 50px;
    }
    
    /* img part */
    .dofd-section > .img-div {
        min-width: 300px;
    }
    .img-div > a > .img-fluid {
        width: 300px;
        align-self: center;
    }
    
    
    /* third part */
    .dofd-section > .discount-box {
        flex-wrap: wrap;
    }
    .dofd-section > .discount-box > div:nth-child(1) {
        flex: 2;
        min-width: 300px;
    }
    .dofd-section > .discount-box > div:nth-child(2) {
        flex: 1;
    }
    .discount-box .discount {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        color: #d20000;
    }
    .discount-box .brand {
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 700;
    }
    .discount-box .additional-desc {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .discount-box .reduced-price {
        text-transform: uppercase;
        font-weight: 700;
    }
    .discount-box .regular-price {
        font-style: italic;
        color: gray;
        font-size: .75rem;
    }
    /* button */
    .dofd-btn {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4rem;
        color: #000;
        text-decoration: none;
    }
    .dofd-btn a {
      padding: 10px 7px;
      min-width: 145px;
      /* max-width: 145px; */
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      background: #000000;
      text-align: center;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: none !important; */
      text-transform: uppercase;
      min-height: 45px;
    }

    .dofd-btn a:hover {
        background: #fff;
        color: #000;
        border: 1px solid #000;
    }
    
    /* media queries */
    @media (max-width: 990px) {
        .dofd-section > .discount-box > div:nth-child(1) {
            min-width: auto;
            flex-basis: 100%;
        }
    }
    @media (max-width: 900px) {
        .dofd-section {
            flex-wrap: wrap;
        }
        .dofd-section > .dofd-clockdown {
            flex-basis: 100%;
        }
        .dofd-section > .img-div,
        .dofd-section > .discount-box {
            flex-basis: 50%;
        }
        .dofd-section > .img-div {
            min-width: auto;
            padding: 0 10px;
        }
        .img-div > a > .img-fluid {
            width: auto;
        }
        .deal-of-the-day-title {
            text-align: center;
        }
        .img-div > .img-fluid {
            max-width: auto;
        }
    }
    @media (max-width: 768px) {
        .dofd-section {
            margin: 0 -20px;
        }
    }
    @media (max-width: 576px) {
        
        .dofd-section > .img-div
         {
            flex-basis: 50%;
        }
        .dofd-section > .discount-box {
            flex-basis: 50%;
            padding-top: 5px;
            padding-left: 20px;
        }
        
    }
    @media (max-width: 355px) {
        .dofd-section > .img-div,
        .dofd-section > .discount-box {
            flex-basis: 100%;
        }
    }
    @media (max-width: 350px) {
        .dofd-section > .dofd-clockdown {
            min-width: 100%;
        }
    }
    
  
/* DOTD banner style settings */