#content {
	width: calc(100% - var(--sidebar_width) - var(--sidebar_gutter));
}

#wrapper .fusion-faqs-wrapper .fusion-accordian .panel-title a {

display: flex;
    flex-direction: row-reverse;
	
}

#wrapper .fusion-faqs-wrapper .fusion-accordian .panel-title a > .fusion-toggle-heading {
	flex: 1;
}

/* For plus and minus icons */

#wrapper .fusion-faqs-wrapper .fusion-accordian .panel-title a.active .awb-icon-minus:before {
	display: block;
}

#wrapper .fusion-faqs-wrapper .fusion-accordian .panel-title a.active .awb-icon-plus:before {
	display: none;
}

#wrapper .fusion-faqs-wrapper .fusion-accordian .panel-title a.collapsed .awb-icon-minus:before {
	display: none;
}

#wrapper .fusion-faqs-wrapper .fusion-accordian .panel-title a.collapsed .awb-icon-plus:before {
	display: block;
}